CustomerMicroservice/generated
CustomerMicroservice/target
*.idea
*.iml
.DS_store
*.lst
/target
/generated

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.prefs
.classpath
TokenMicroservice/target/maven-archiver/pom.properties
*.properties
TokenMicroservice/target/token-microservice.war.original
TokenMicroservice/target/surefire-reports/TEST-com.token.cucumber.CucumberTest.xml
TokenMicroservice/target/surefire-reports/com.token.cucumber.CucumberTest.txt
TokenMicroservice/target/maven-archiver/pom.properties
*.pyc
DTUPay/target
DTUPay/generated
DTUPay/.idea
